# Official Astra Linux repositories for {{ release }}

deb https://download.astralinux.ru/astra/stable/{{ release }}/repository-main/ {{ release }} main contrib non-free
deb https://download.astralinux.ru/astra/stable/{{ release }}/repository-update/ {{ release }} main contrib non-free
deb https://download.astralinux.ru/astra/stable/{{ release }}/repository-base/ {{ release }} main contrib non-free
deb https://download.astralinux.ru/astra/stable/{{ release }}/repository-extended/ {{ release }} main contrib non-free
