{%- set ns = namespace(boot_found=False, result='') -%}
{%- for mount in ansible_mounts -%}
  {%- if mount.mount == "/boot" -%}
    {%- for device, details in disk_devices.items() -%}
      {%- for part, info in details.partitions.items() -%}
        {%- if info.uuid == mount.uuid -%}
          {%- set ns.result = part -%}
          {%- set ns.boot_found = True -%}
        {%- endif -%}
      {%- endfor -%}
    {%- endfor -%}
  {%- endif -%}
{%- endfor -%}
{%- if not ns.boot_found -%}
  {%- for mount in ansible_mounts -%}
    {%- if mount.mount == "/" -%}
      {%- for device, details in disk_devices.items() -%}
        {%- for part, info in details.partitions.items() -%}
          {%- if info.uuid == mount.uuid -%}
            {%- set ns.result = part -%}
          {%- endif -%}
        {%- endfor -%}
      {%- endfor -%}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}
{{ ns.result }}