{%- set root_label = ansible_cmdline.root.split('=')[1] -%}
{%- set result = namespace(part_name='') -%}
{%- for disk, attributes in disk_devices.items() -%}
  {%- if 'partitions' in attributes -%}
    {%- for partition, part_attr in attributes.partitions.items() -%}
      {%- if root_label in part_attr.links.labels -%}
        {%- set result.part_name = partition -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
{%- endfor -%}
{{ result.part_name }}