{% set root_label = ansible_cmdline.root.split('=')[1] %}
{% for disk, attributes in disk_devices.items() %}
  {% if 'partitions' in attributes %}
    {% for partition, part_attr in attributes.partitions.items() %}
      {% if root_label in part_attr.links.labels %}
        {{ partition }}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}