{%- set matched_disks = [] -%}
{%- for disk in disks_to_create %}
  {%- for device_name, device_info in disk_devices.items() -%}
    {%- for id in device_info.links.ids if (id.startswith('virtio-') or id.startswith('scsi-')) -%}
      {%- set _ = disk.update(serial=id) -%}
      {%- set is_break = true %}
    {%- endfor %}
  {%- endfor %}
  {%- set cleaned_serial = disk.serial.replace('-', '').lower() %}
  {%- for device_name, ids_list in ansible_device_links.ids.items() %}
    {%- for id_entry in ids_list %}
      {%- set cleaned_id_entry = id_entry.replace('-', '').lower() %}
      {%- if cleaned_serial in cleaned_id_entry %}
        {%- set disk_info = '/dev/' + device_name %}
        {%- if disk_info not in matched_disks %}
          {%- set _ = matched_disks.append(disk_info) %}
        {%- endif %}
      {%- endif %}
    {%- endfor %}
  {%- endfor %}
{%- endfor %}
{{ matched_disks | tojson }}
