{%- set out = [] -%}
{%- for d in disks_matched | default([]) -%}
  {%- set e = {} -%}{%- set _ = e.update(d) -%}
  {%- for k in ['match', 'device'] if k in e -%}{%- set _ = e.pop(k) -%}{%- endfor -%}
  {%- set _ = out.append(e) -%}
{%- endfor -%}
{{ out | tojson }}